<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

<bean id="connection" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
<property name="url" value="jdbc:mysql://localhost:3306/lotus"></property>
<property name="username" value="root"></property>
<property name="password" value="root"></property>
</bean>


<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
<constructor-arg>
<ref bean="connection"></ref>
</constructor-arg>
</bean>

<bean id="insert" class="com.SpringJdbc.InsertLogic">
<property name="jdbcTemplate">
<ref bean="jt"></ref>
</property>
</bean>

<bean id="update" class="com.SpringJdbc.UpdateLogic">
<property name="jdbcTemplate">
<ref bean="jt"></ref>
</property>
</bean>

<bean id="display" class="com.SpringJdbc.DisplayLogic">
<property name="jdbcTemplate">
<ref bean="jt"></ref>
</property>
</bean>

<bean id="delete" class="com.SpringJdbc.DeleteLogic">
<property name="jdbcTemplate">
<ref bean="jt"></ref>
</property>
</bean>

</beans>