<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.motivity.DoctorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/DoctorRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.motivity.DoctorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/DoctorLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.motivity.UpdateDoctor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/update_doctor_profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fourth</servlet-name>
		<servlet-class>com.motivity.PatientRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fourth</servlet-name>
		<url-pattern>/PatientRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fifth</servlet-name>
		<servlet-class>com.motivity.PatientLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fifth</servlet-name>
		<url-pattern>/PatientLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sixth</servlet-name>
		<servlet-class>com.motivity.UpdatePatient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sixth</servlet-name>
		<url-pattern>/update_patient_profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>seventh</servlet-name>
		<servlet-class>com.motivity.Appointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seventh</servlet-name>
		<url-pattern>/apply_appointment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eight</servlet-name>
		<servlet-class>com.motivity.Accept</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eight</servlet-name>
		<url-pattern>/accept</url-pattern>
	</servlet-mapping>
</web-app>