<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.jnit.EmployeeRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/Employee_Registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.jnit.EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/Employee_Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.jnit.ManagerRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/Manager_Registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>fourth</servlet-name>
<servlet-class>com.jnit.ManagerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>fourth</servlet-name>
<url-pattern>/Manager_Login</url-pattern>
</servlet-mapping>

</web-app>