<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
<servlet-name>one</servlet-name>
<servlet-class>com.mlabs.EmployeeRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>one</servlet-name>
<url-pattern>/Employee_Registration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>two</servlet-name>
<servlet-class>com.mlabs.EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>two</servlet-name>
<url-pattern>/Employee_Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>three</servlet-name>
<servlet-class>com.mlabs.ManagerRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>three</servlet-name>
<url-pattern>/Manager_Registration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.mlabs.ManagerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/Manager_Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>five</servlet-name>
<servlet-class>com.mlabs.UpdateEmployee</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>five</servlet-name>
<url-pattern>/update_employee_profile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>six</servlet-name>
<servlet-class>com.mlabs.UpdateManager</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>six</servlet-name>
<url-pattern>/update_manager_profile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>seven</servlet-name>
<servlet-class>com.mlabs.ApplyHoliday</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>seven</servlet-name>
<url-pattern>/apply_holiday</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>eight</servlet-name>
<servlet-class>com.mlabs.Accept</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>eight</servlet-name>
<url-pattern>/accept</url-pattern>
</servlet-mapping>
</web-app>